<!DOCTYPE html>
<html>
  <head>
    <title>RelationSHI</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css" />
  </head>
  <body>
    <div class="Header">
      <div class="HeaderTitle">
        <div class="Left Title">Relation</div>
        <div class="Right Title">SHI</div>
      </div>
      <div class="SubTitle">Do we move forward or stop here ?</div>
    </div>

    <div class="CardContainer"></div>

    <div class="prevent"></div>
    <div id="leftIndicator">ปัดซ้ายเพื่อดูการ์ดข้างหลัง</div>
    <div id="rightIndicator">ปัดขวาเพื่อดูการ์ดข้างหลัง</div>

    <script src="/js/home.js"></script>
  </body>
</html>
