<!DOCTYPE html>
<html>
  <head>
    <title>RelationSHI</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css" />
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <div class="Header" id="Header" style="margin-top: 100vh">
      <div class="HeaderTitle">
        <div class="Left Title">Relation</div>
        <div class="Right Title">SHI</div>
      </div>
      <div class="SubTitle">Do we move forward or stop here ?</div>
    </div>

    <div class="CardContainer" id="CardContainer"></div>
    <div class="prevent"></div>
    <div id="leftIndicator" class="left Indicator">
      ปัดซ้ายเพื่อดูการ์ดข้างหลัง
    </div>
    <div id="rightIndicator" class="right Indicator">
      ปัดขวาเพื่อดูการ์ดข้างหลัง
    </div>
    <div id="topIndicator" class="top Indicator">ปัดขึ้นเพื่อรู้จักเพื่อนใหม่</div>
    <div id="bottomIndicator" class="bottom Indicator">ปัดลงเพื่อปฏิเสธ</div>

    <div id="cardAcceptArea">
      <div style="margin-top: 50%">✓</div>
    </div>
    <div id="cardRejectArea">
      <div style="margin-bottom: 50%">✗</div>
    </div>

    <div class="WarningContent" id="WarningContent">
      <div class="WarningText">
        โปรดหมุนจอเครื่องของท่านให้เป็นแนวตั้งเพื่อประสบการณ์ที่ดีกว่า
      </div>
    </div>

    <script src="/js/home.js"></script>
  </body>
</html>
