<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  </head>
  <body>
    <div id="body" style="position: absolute; top:0; width: 100%;">
      <div class="Header">
        <div class="HeaderLogo">
          <img class="Logo" src="/images/logo.png" alt="logo" />
        </div>

        <div class="HeaderTitle">
          <div class="Left Title">Relation</div>
          <div class="Right Title">SHI</div>
        </div>
        <div class="SubTitle">Meet your new relationship</div>
      </div>

      <div class="LoginContainer">
        <div class="Login">
          <div class="LoginInput">
            <div class="Indicator Email">💌</div>
            <input id="email" type="text" placeholder="Email" />
          </div>
          <div class="LoginInput">
            <div class="Indicator Password">🔒</div>
            <input id="password" type="password" placeholder="Password" />
          </div>

          <div class="LoginButtonContainer">
            <div class="LoginButton" onclick="Login()">Start</div>
          </div>
          <div class="SignUpText">
            <div>
              Don't have an account?
              <a href="/register">Sign Up</a>
            </div>
          </div>
        </div>
      </div>

      <div id="bottomIndicator" class="bottom Indicator">
        <div id="bottomIndicatorText">By HeadYear67</div></div>

      <div class="WarningContent" id="WarningContent">
        <div class="WarningText">
          โปรดหมุนจอเครื่องของท่านให้เป็นแนวตั้งเพื่อประสบการณ์ที่ดีกว่า
        </div>
      </div>
    </div>

    <script src="/js/login.js"></script>
  </body>
</html>
