<!DOCTYPE html>
<html>
  <head>
    <title>Matching</title>
    <link rel="stylesheet" type="text/css" href="/css/result.css" />
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <script src="/js/result.js"></script>
    <script src="/js/particle.js"></script>
  </head>

  <body>
    <div
      class="Header"
      id="Header"
      style="position: absolute; top: 100vh; width: 100%"
    >
      <div class="HeaderTitle">
        <div>Start your new</div>
        <div class="Left Title">Relation</div>
        <div class="Right Title">ship</div>
      </div>

      <div class="Body">
        <div class="LeftImageContainer">
          <div class="ImageFrame">
            <img id="userImage" class="UserImage image" alt="user" />
          </div>
        </div>

        <div class="RightImageContainer">
          <div class="ImageFrame">
            <img class="MatchingImage image" alt="partner" id="partnerImage" />
          </div>
        </div>

        <div class="HeartImage">
          <img
            src="/images/relation.png"
            style="width: 30vw; height: auto"
            alt="heart"
          />
        </div>
      </div>

      <div class="ContactContainer">
        <div class="ContactHeader">Contacts</div>

        <div class="ContactInformation">
          <div id="IG"></div>
          <div id="MatchingMessage">
            <div class="MessageHeader" style="font-weight: bolder">
              ข้อความที่ฝากถึงกับเพื่อนใหม่
            </div>
            <div class="MessageContent"></div>
          </div>
        </div>

        <div
          class="popularityContainer"
          style="margin-top: 2vh; width: 100%; height: 10vw"
        >
          <div
            class="popularity"
            id="popularity"
            style="
              background-color: cadetblue;
              width: 80%;
              height: 10vw;
              border-radius: 50px;
              color: #fff;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 4vw;
            "
          ></div>
        </div>
      </div>
    </div>

    <div class="WarningContent" id="WarningContent">
      <div class="WarningText">
        โปรดหมุนจอเครื่องของท่านให้เป็นแนวตั้งเพื่อประสบการณ์ที่ดีกว่า
      </div>
    </div>

    <canvas id="heartCanvas"></canvas>
  </body>
</html>
