<!DOCTYPE html>
<html>
  <head>
    <title>Matching</title>
    <link rel="stylesheet" type="text/css" href="/css/result.css" />
  </head>

  <body>
    <div class="Header">
      <div class="HeaderTitle">
        <div>Start your new</div>
        <div class="Left Title">Relation</div>
        <div class="Right Title">ship</div>
      </div>
    </div>
  </body>
</html>
