<!DOCTYPE html>
<html>
  <head>
    <title>Matching</title>
    <link rel="stylesheet" type="text/css" href="/css/result.css" />
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <script src="/js/result.js"></script>
  </head>

  <body>
    <div
      class="Header"
      id="Header"
      style="position: absolute; top: 100vh; width: 100%"
    >
      <div class="HeaderTitle">
        <div>Start your new</div>
        <div class="Left Title">Relation</div>
        <div class="Right Title">ship</div>
      </div>

      <div class="Body">
        <div class="LeftImageContainer">
          <div class="ImageFrame">
            <img id="userImage" class="UserImage image" alt="user" />
          </div>
        </div>

        <div class="RightImageContainer">
          <div class="ImageFrame">
            <img class="MatchingImage image" alt="partner" id="partnerImage" />
          </div>
        </div>

        <div class="HeartImage">
          <img
            src="/images/relation.png"
            style="width: 30vw; height: auto"
            alt="heart"
          />
        </div>
      </div>

      <div class="ContactContainer">
        <div class="ContactHeader">Contacts</div>

        <div class="ContactInformation">
          <div id="IG"></div>
          <div id="MatchingMessage"></div>
        </div>
      </div>
    </div>
  </body>
</html>
