<!DOCTYPE html>
<html>
  <head>
    <title>Apologizes</title>
    <link rel="stylesheet" type="text/css" href="/css/unexpected.css" />
    <script src="/js/unexpected.js"></script>
  </head>
  <body>
    <div
      id="Container"
      style="position: relative; top: 100vh; transition: top 1s ease-in-out"
    >
      <div class="Header">
        <img src="/images/bird.gif" alt="birdFly" id="birdFly" />
        <img src="/images/logo.png" alt="logo" id="logo" />
        <div class="title">
          <div class="Lefttext" style="color: #ff6687; margin-right: 3px">
            Relation
          </div>
          <div class="Righttext" style="color: #68a7d5; margin-left: 3px">
            SHI
          </div>
        </div>
      </div>

      <div class="Decoration">
        <img
          src="/images/cloud.png"
          class="cloud"
          alt="cloud1"
          id="cloud1"
          style="right: 10vw; top: 30vh"
        />
        <img
          src="/images/cloud.png"
          class="cloud"
          alt="cloud2"
          id="cloud2"
          style="left: 10vw; top: 40vh"
        />
        <img src="/images/contrail.png" alt="contrail" id="contrail" />
      </div>

      <div class="Apologizes Container" style="position: absolute; top: 25vh">
        <div class="Content">
          ขอแสดงความเสียใจด้วย ในขณะนี้ไม่พบใครที่มีลักษณะตรงกับคนที่คุณเลือก
        </div>
      </div>

      <div class="Advice Container" style="position: absolute; top: 65vh">
        <div class="advice">
          แต่ไม่ต้องเสียใจไปนะ เรายังมีกิจกรรมอื่นๆ ที่คุณอาจเจอเพื่อนที่ใช่ก็ได้
        </div>
      </div>

      <div class="Popularity Container" style="position: absolute; top: 77.5vh">
        <div class="PopularityText"></div>
      </div>
    </div>
  </body>
</html>
