@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

html {
  overflow: hidden;
  font-family: "Poppins", "sans-serif" !important;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-size: 3vw;
  background: linear-gradient(to bottom, #fa9eba, #f8c5c3, #b6ecfd);
  overflow: hidden;
}

/* Header of the webpage */
.Header {
  position: relative;
  width: 100vw;
  height: 30vh;
  margin-top: 10vh;
}

.HeaderLogo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40%;
}

.Logo {
  width: 100px;
  height: auto;
}

/* All the login title properties [Header] */
.HeaderTitle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Title {
  font-size: 10vw;
  font-weight: 500;
}

.Left {
  color: #ff6687;
}

.Right {
  color: #68a7d5;
}

.SubTitle {
  font-size: 5vw;
  color: #fff;
  display: flex;
  height: auto;
  width: 100%;
  align-items: center;
  justify-content: center;
}

/* Login form */
.LoginContainer {
  position: relative;
  display: flex;
  justify-content: center;
  height: 40vh;
}

.Login {
  position: relative;
  width: 75vw;
  height:40vh;
}

.LoginInput {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20px;
  font-size: 6vw;
  margin-top: 8vw;
}

.Indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 50%;
  height: 10vw;
  width: 10vw;
}

.Indicator.Email {
  background-color: #f15267;
}

.Indicator.Password {
  background-color: #fff;
}

input {
  margin-left: 10px;
}

#email,
#password {
  width: calc(50% + 20px);
  height: 10vw;
  border: none;
  font-size: 3.5vw;
  border-radius: 100px;
  padding: 0px 20px 0px 20px;
}

#email {
  color: #fff;
  background-color: #f15267;
}

#email::placeholder {
  color: #fff;
}

#password {
  color: #000;
  background-color: #fff;
}

#password::placeholder {
  color: #000;
}

/* Login button */
.LoginButtonContainer {
  margin-top: 10vh;
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.LoginButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  font-size: 5vw;
  height: 10vw;
  background-color: #68a7d5;
  color: #fff;
  border-radius: 100px;
  cursor: pointer;
}

/* Sign up */
.SignUpText {
  margin-top: 2vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}

/* Warning Content */
.WarningContent {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(20px);
  z-index: 9999;
}

.WarningText {
  color: #fff;
  font-size: 20px;
}

/* BY */
#bottomIndicator {
  margin-top: 1.5vh;
  width: 100%;
  height: 5vh;
  font-size: 5vw;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  transition: opacity 0.5s ease-in-out;
  z-index: 1;
}

#bottomIndicatorText {
  width: 50%;
  color: #ffffff;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  background-image: linear-gradient(to right, #fa9eba, #f8c5c3, #fa9eba);
  background-size: 200% 100%;
  animation: liquidanimation 1s linear infinite;
}

@keyframes liquidanimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
